#sidebar{
    background-color: #E0FBFC;
    float: left;
    width: 20vw;
    padding: 2%;
    min-height: 90vh;
    box-sizing: border-box;
}
#content{
    overflow-y: auto;
    background-color: #3D5A80;
    float: left;
    width: 80vw;
    height: 90vh;
    overflow-y: auto;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#sidebar > div{
    margin: 4%;
}
.stat{
    background-color: #293241;
    width: 35vw;
    min-height: 35vh;
    border-radius: 12px;
}



.stat_row{
    display: flex;
    justify-content: space-around;
}

table, tr, td{
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    color: white
}

input, textarea{
    min-width: 400px;
    width: auto;
}

#modal {
    width: 400px;
    height: 600px;
    position: absolute;
    transform: translateX(-50%) translateY(-300%);
    left: 50%;
    top: 50%;
    background: rgba(155, 137, 137, 0.9);
    padding: 20px;
    border-radius: 20px;
    transition: 0.3s transform ease-in-out;
}

.modal_show {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
}