#content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("../assets/computer-g40a04e50b_1920.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form{
    background-color: whitesmoke;
    width: 20vw;
    min-height: 40vh;
    padding-bottom: 5vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

#popup {
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 20px;
    background-color: orange;
    border-radius: 5px;
    transform: translateX(300%);
    transition: 0.3s transform ease-in-out;
}
